# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment files
.env

# Output and logs
outputs/
*.log

# Ignore everything in sonifications except merged/
sonifications/*
!sonifications/merged/
sonifications/merged/*
!sonifications/merged/.gitkeep

# VSCode and OS files
.vscode/
.DS_Store
Thumbs.db
